.home-page{
    /*background-color: rgb(235, 235, 235);
    padding: 10px;
    /*
    border-radius: 12px;
    box-shadow: 0 0 3px rgb(10, 1, 1);
*/
    
    .top-section{
        display: flex;
        align-items: center;
        justify-content: space-between;

        gap: 10px;
        font-size: 12px;
        &:has(.addvance-search[data-show=false]){
            justify-content: flex-end;
        }

        .pagination{
            display: flex;
            align-items: center;
            gap:1rem;

            .info{
                display: flex;
                align-items: center;
                gap:5px;
    
                span:not(:last-of-type) {
                    color :rgb(56, 55, 55);
                };
                
                span:last-of-type{
                    font-weight: bold;
                } 
            }
    
            .arrows{
                display: flex;
                gap: 8px;
                align-items: center;
            } 
        }

        .addvance-search{
            display: flex;
            align-items: center;
            gap: 1rem;

            justify-self: center;
            margin-inline: auto;

            &[data-show=false]{
                display: none;
            }

            .trigger{
                padding: 0.5rem 1rem;
                border: 1px solid #ddd;
                border-radius: 100px;
                cursor: pointer;
                transition: all 0.3s;
                user-select: none;
                &:hover{
                    background-color: #fcfafa;
                }
            
            }
            ul{
                position: absolute;
                top:110%;
                left:0;
                width:220px;
                background-color: white;
                box-shadow: 1px 3px 5px 1px rgba(0,0,0,0.2);
                border-radius: 0.7rem;
                li{
                    font-size: 14px;
                    padding: 0.7rem 1.2rem;
                    cursor: pointer;
                    transition: all 0.3s;
                    &:not(:last-of-type){
                        border-bottom: 1px solid #eee;
                    }
                    &:hover{
                        background-color: #eeeeee98;
                    }
                    &:has(input){
                        padding: 0;
                        input{
                            padding: 1rem;
                            border: none;
                            width: 100%;
                        }
                    }

                }
            }
            .date,
            .employee,
            .customer {
                position: relative;

            }
        }
    }

    .messages{
        margin-top: 20px;
        font-size: small;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding-left: 60px;
        padding-right: 40px;
        
        .message{
            display: flex;
            align-items: center;
            justify-content: space-between; 
            padding: 13px 30px;
            border: 1px solid #ddd;
            border-radius: 12px;
            box-shadow: 0 0 2px 0 rgb(56, 55, 55);
            transition: all 0.2s ease-in-out;

            &:hover{
                background-color: #eee;
            }

            .employee{
                font-weight: bold;
                color: #383737;
            }

            .customer{
                display: flex;
                align-items: center;
                gap: 16px;

                p:first-of-type{
                    font-weight:600;
                }

                .audio-text{
                    direction: rtl;
                    width: 280px;
                    white-space: nowrap ;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    text-align: center;
                }
            }

            .controls{
                display: flex;
                align-items: center;
                gap: 16px;
                & > p{
                   color: gray; 
                   font-size: 14px;
                }

                .icons{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    input{
                        accent-color: green ;
                        
                    }
                }
            }
        }

    }

}